@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts  */
body {
  font-family: "Merriweather", serif;
  background-color: #d0b49f;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}
.custom-shadow {
  box-shadow: 0px 4px 20px 0px #00000026;
}
