@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts  */
/* public/fonts/fonts.css */

@font-face {
  font-family: "Source Serif Pro";
  src: url("/public/Fonts/source-serif-pro.regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Add more font-face rules as needed for other weights and styles */

body {
  background-color: #d0b49f;
  font-family: "Lato", sans-serif !important;
}
.font-source-serif-pro {
  font-family: "Source Serif Pro", serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}
.custom-shadow {
  box-shadow: 0px 4px 20px 0px #00000026;
}
